@use 'sass:color';

$brand-primary: #D12127;
$brand-secondary: #218F34;
$brand-tertiary: #F6EB16;

$brand-grey: #343a40;
$brand-grey-light: #837b7b;
$brand-light: #f8f9fa;

$brand-danger: color.adjust($brand-primary, $saturation: -20%);
$brand-success: color.adjust($brand-secondary, $saturation: -5%);
$brand-warning: color.adjust($brand-tertiary, $saturation: -20%);
$brand-info: #1481d5;


:root {
  --brand-primary: #{$brand-primary};
  --brand-secondary: #{$brand-secondary};
  --brand-tertiary: #{$brand-tertiary};

  --brand-grey: #{$brand-grey};
  --brand-grey-light: #{$brand-grey-light};
  --brand-light: #{$brand-light};


  --brand-border-radius: 0.25rem;

  --brand-success: #{$brand-success};
  --brand-danger: #{$brand-danger};
  --brand-warning: #{$brand-warning};
  --brand-info: #{$brand-info};

}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}
