@mixin flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: var(--brand-border-radius) var(--brand-border-radius) 0 0;

  h4, h5, h6 {
    margin: 0;
  }

}


@mixin null-y-margins {
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}


@mixin badge {
  --badge-background: #000;
  --badge-color: #fff;
  --badge-font-size: 0.8rem;

  border-radius: 20px;
  padding: 0.2rem 0.4rem;
  font-size: var(--badge-font-size);
  font-weight: normal;
  background-color: var(--badge-background);
  color: var(--badge-color);
}

@mixin svg-mask-icon {
    --icon-link: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'></svg>");
    --button-size: 1rem;
    --icon-colour: #fff;
    --icon-opacity: 1;

    width: var(--button-size);
    height: var(--button-size);

    -webkit-mask: var(--icon-link) no-repeat center;
    -webkit-mask-size: contain;
    mask: var(--icon-link) no-repeat center;
    mask-size: contain;

    background-color: var(--icon-colour) !important;
    background-size: contain;
    display: inline-block;
    opacity: var(--icon-opacity);
}
